# requirements to run Jupyter server
notebook
jupyterhub
jupyterlab

# requirements for notebooks
biopython
biosimulators-cbmpy
biosimulators-copasi
biosimulators-cobrapy
biosimulators-tellurium
biosimulators-utils[sbml,logging,containers]
ipython
kisao
numpy
matplotlib
pyyaml
requests
